@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin grid-center {
  display: grid;
  justify-content: center;
  align-items: center;
}

@mixin flex-between {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin square($size) {
  width: $size;
  height: $size;
}