$font-family: 'Poppins', sans-serif;

$text-primary: #FFB800;
$text-secondary: #FFFFFF;

$bg-primary: #252525;
$bg-secondary: #020202;

$font-size-xs: 12px;
$font-size-sm: 16px;
$font-size-md: 24px;
$font-size-lg: 36px;

$font-weight-rg: 400;
$font-weight-md: 500;
